.title {
    text-align: center;
    color: white;
    text-transform: uppercase;
    background-color: purple;
    margin-right: 400px;
    margin-left: 400px;
}

body {
    text-align: center;
    background-color: black;
    color: white;
}

.directions {
    border: 2px solid red;
    margin: auto 600px;
}




