.title {
    text-align: center;
    color: white;
}

.body {
    background-color: black;
    color: white;
}

.descriptiontitle {
    text-align: center;
}

.ingredientstitle {
    text-align: center;
}

.directionstitle {
    text-align: center;
}

.ingredients {
    text-align: center;
}



