.body {
    background-color: rgb(233, 27, 216);
    color: rgb(33, 218, 255);
}

.title {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    color: cyan;
}

.descriptiontitle,
.ingredientstitle,
.ingredients,
.directionstitle {
    text-align: center;
}