.body {
    background-color: deeppink;
    color: cyan;
}

.title {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    color: cyan;
}

.descriptiontitle {
    text-align: center;
}

.ingredientstitle {
    text-align: center;
}

.ingredients {
    text-align: center;
}

.directionstitle {
    text-align: center;
}

