.body {
    background-color: aqua;
    color: blueviolet;
}

.title {
    color: blueviolet;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.descriptiontitle {
    text-align: center;
}

.ingredientstitle {
    text-align: center;
}

.ingredients {
    text-align: center;
}

.directionstitle {
    text-align: center;
}